<!doctype html>
<html>
<head>
    <title>ReverseChat Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body>
<section class="container" style="width:800px;">
    <div class="row">
        <div class="col-sm-12">
            <div style="display:flex;justify-content:space-between;">
                <a href="/chatroom" class="btn btn-default btn-sm" >&lt; Go to Chatroom</a>
                <strong>Dashboard</strong>
                <a href="/logout" class="btn btn-primary btn-sm" >Logout</a>
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-sm-12">
            <div id="dashboard" class="well chatroom">
                <table>
                    <tr>
                        <td align="center"><strong>User</strong></td>
                        <td><strong>Message Count</strong></td>
                    </tr>
                    <% for (var i = 0; i < dashboardRecords.length; i++) { %>
                        <tr>
                            <td>
                                <p class='message'>
                                    <img src='<%= dashboardRecords[i].facebook.photo %>' alt='Thumbnail'>
                                    <i><%= dashboardRecords[i].facebook.name %></i>
                                </p>
                            </td>
                            <td align="center"><%= dashboardRecords[i].chatCount %></td>
                        </tr>
                    <% } %>
                </table>
                
                
                
            </div>
        </div>
    </div>
</section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="js/chat.js"></script>
</body>
</html>
